
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap'); 
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,500;1,200 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------BODY--------*/
body{
    background-color: #a89f9f9c;
    font-family:'Poppins', sans-serif;
}


/*------------HEADER------------*/

.menu-nav{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: right;
}
.menu-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.menu-nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}





/*------------MAIN--------------*/

.hero{
    width: 100%;
    height: 85vh;
    color: white;
    text-align: center;
    background-image: url("../img/index2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h2{
    margin-bottom: 25px;
    font-size: 50px;
}

.hero a{
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(59, 59, 163, 0.388);
    border-radius: 10px;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
}


/*-------GALERIA----------*/

.grid-container{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 20px;
}
.grid-container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------SERVICIOS--------*/
.servicios-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicios h2{
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.servicios .servicios-contenedor div{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75);
}

.servicios div img{
    width: 298px;
    height: 300px;
}

.servicios div h3{
    color: black;
    margin: 10px;
}

.servicios div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 3px;
    font-weight: bold;
}

/*------------FOOTER------------*/

.redes img {
    margin: 20px;
    width: 40px;
    height: 40px;
}
.redes{
    text-align: center;
    margin: 30px ;
} 
